{% extends 'base.html' %}

{% block head%}<title>'To Do' app</title>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="container text-center">
                <h1>To Do</h1>
                <h3>app</h3>
                <p>Organize your day for maximum productivity</p>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-lg-12">
           <div class="container">
               <form action="/" method="POST">
                   <div class="row">
                   <div class="col-lg-9 margins"><input type="text" name="add-task" id="add-task" class="form-control" placeholder="Add a task..."></div>
                   <div class="col-lg-3 margins"><input type="submit" value="Add" class="btn btn-success button"></div>
                   </div>
               </form>
           </div>
       </div>
   </div>

    <div class="container">
        {% for task in add_task_list %}
        <div class="alert alert-primary" role="alert">
           <div class="row">
               <div class="col-lg-8 margins" style="padding-top: 10px">
                   {{ task.task_text }}
               </div>
               <div class="col-lg-2 margins">
                   <a href="/update/{{ task.id }}" class="btn btn-info button">Update</a>
               </div>
               <div class="col-lg-2 margins">
                   <a href="/delete/{{ task.id }}" class="btn btn-danger button">Delete</a>
               </div>
           </div>
        </div>
       {% endfor %}
       <div class="alert alert-danger" role="alert">
           This app version is created for showcase purposes only
       </div>
    </div>
{% endblock %}